<div id="shopify-block-7860399670564181960" class="shopify-block shopify-app-block">
<script>
  window.profyCollections = null;

  window.profyCustomerTags = [];

  window.profyBannerConfig = [];

  window.profyLocale =  "ja";

  window.profyAppValue = {"id":"51830358017"};

  window.profyShop = Object.seal({"date":"2024-07-01T02:46:37.492Z","key":"Gshz/nlVNVraTQrfBMYO9WRziTropxE44Q9hcnvuye+m6NYJAsqmGUs51/jdTBkWJvGi2EtD09q/nZ3q/y8+mEeTRo/xUyqPE6QSqoYQUa4RfOac3e3aLhIJn2QR71AS6Oo5CczHY6R4kC6s2JSvk+3R6711UWZ/Wf9RHo3rUNggXUCPS2+Sck4b7GkhId6ZLUw46epwck0kvNYW+vDzK8pJOyljrYFDCai2/i5cd0kOmmgtJrCWRk8a7HITO4XEDIktndCyBuSJqoN7/ODENUDW9886RZOyRuYPq/Zv3UpHFI30xi8V68Zjj8GlfEWXKhGIgDDfxRezDMkYCwKggA==","meta":27363221602556,"plan_name":"free","imp":0})

  window.profyAppPlan = {plan_name:"free"};
</script>
</div>